In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [2]:
data = pd.read_csv('top_women_chess_players_aug_2020.csv')

In [3]:
data.head()

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,700070,"Polgar, Judit",HUN,F,1976.0,GM,2675,2646.0,2736.0,wi
1,8602980,"Hou, Yifan",CHN,F,1994.0,GM,2658,2621.0,2601.0,NaN
2,5008123,"Koneru, Humpy",IND,F,1987.0,GM,2586,2483.0,2483.0,NaN
3,4147103,"Goryachkina, Aleksandra",RUS,F,1998.0,GM,2582,2502.0,2441.0,NaN
4,700088,"Polgar, Susan",HUN,F,1969.0,GM,2577,NaN,NaN,wi

In [4]:
data.describe()

,Fide id,Year_of_birth,Standard_Rating,Rapid_rating,Blitz_rating
count,8.553000e+03,8261.000000,8553.000000,3608.000000,3472.000000
mean,8.829011e+06,1985.291732,2005.102303,1931.680155,1925.155242
std,9.226777e+06,14.055386,137.146646,191.449272,188.556849
min,1.001450e+05,1920.000000,1801.000000,1224.000000,1159.000000
25%,2.119447e+06,1978.000000,1891.000000,1811.000000,1805.000000
50%,4.500539e+06,1988.000000,1998.000000,1921.000000,1919.000000
75%,1.360553e+07,1995.000000,2090.000000,2051.000000,2044.000000
max,7.360114e+07,2010.000000,2675.000000,2646.000000,2736.000000

In [5]:
data.shape

(8553, 10)

In [6]:
data.dtypes

Fide id              int64
Name                object
Federation          object
Gender              object
Year_of_birth      float64
Title               object
Standard_Rating      int64
Rapid_rating       float64
Blitz_rating       float64
Inactive_flag       object
dtype: object

In [7]:
data.isnull().sum()

Fide id               0
Name                  0
Federation            0
Gender                0
Year_of_birth       292
Title              5435
Standard_Rating       0
Rapid_rating       4945
Blitz_rating       5081
Inactive_flag      2701
dtype: int64

In [10]:
data.Gender.unique()

array(['F'], dtype=object)

In [11]:
data.Title.value_counts()

WFM    1545
WIM     809
WGM     316
WCM     247
IM      119
GM       37
FM       36
CM        8
WH        1
Name: Title, dtype: int64